# Ignorer tout par défaut
*

# Exceptions : Ne pas ignorer ces dossiers (pour pouvoir les parcourir et ignorer leur contenu)
!*/

# Fichiers à garder absolument dans le dépôt git
!.gitignore
!README.md
!Summary_FR.pdf
!Summary_EN.pdf
!simulation_fr.py
!simulation_en.py
!Optimal_Execution_with_Stochastic_Delay.pdf
