# Ignorer tout par défaut
*

# Exceptions : Ne pas ignorer ces dossiers (pour pouvoir les parcourir et ignorer leur contenu)
!*/

# Fichiers à garder absolument dans le dépôt git
!.gitignore
!README.md
!summaries/Summary_FR.pdf
!summaries/Summary_EN.pdf
!src/simulation_fr.py
!src/simulation_en.py
!paper/Optimal_Execution_with_Stochastic_Delay.pdf
